server:
  port: 8091

spring:
  application:
    name: unduck-paletteduck-service
  profiles:
    active: local
  config:
    import: configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: true