server:
  port: 8082

spring:
  application:
    name: unduck-platform-service


  datasource:
    url: jdbc:mysql://127.0.0.1:3307/unduck_auth_mysql?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: root
    password: root1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        default_batch_fetch_size: 100
        jdbc:
          batch_size: 30

  data:
    redis:
      host: localhost
      port: 6379

  cloud:
    config:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
