server:
  port: 8080

spring:
  webflux:
    cors:
      mappings:
        "[/**]":
          allowedOrigins:
            - "http://localhost:3000"
          allowedMethods:
            - GET
            - POST
            - PUT
            - DELETE
            - OPTIONS
          allowedHeaders: "*"
          allowCredentials: true

  cloud:
    gateway:
      route-locator:
        routes:
          - id: auth-service
            uri: http://localhost:8081
            predicates:
              - Path=/auth/**
            filters:
              - StripPrefix=1

          - id: platform-service
            uri: http://localhost:8082
            predicates:
              - Path=/platform/**
            filters:
              - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: "*"
