server:
  port: 8888

spring:
  application:
    name: unduck-config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/zmgu/unduck-config.git
          search-paths: config
          default-label: main
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always